@import url("https://fonts.googleapis.com/css?family=Text+Me+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 30px;
  background-color: #3eabdc;
}

::-webkit-scrollbar-track {
  background: #515252;
}

::-webkit-scrollbar-thumb {
  background: #3eabdc;
}

nav {
  padding: 5px 0;
  height: 100px;
}

nav #container1 {
  position: relative;
  top: 0;
  /* margin: 0 250px 0px 250px; */
  padding: 0 15px;
  height: 100%;
}

#container1 span {
  position: relative;
  left: 0%;
  top: 10px;
  float: left;
  width: 10%;
}

#container1 #list {
  float: right;
  width: 90%;
  height: 100px;
}

#list ul {
  position: relative;
  right: -22px;
  top: 4px;
  float: right;
}

#list ul li {
  list-style-type: none;
  display: inline-block;
}

#list ul li a {
  color: white;
  font-size: 14px;
  margin: 16px 20px;
  padding: 8px 0px;
  display: inline-block;
  text-decoration: none;
}

#list ul li a:hover {
  color: #24cdd5;
}

#list ul .dropdown-item {
  color: black;
  background: none;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

#list ul #dropdown-home.show {
  width: 800px;
}

#list ul #dropdown-pages.show {
  width: 800px;
}

#list ul #dropdown-blog.show {
  width: 230px;
}

#list ul .dropdown-item.active {
  color: #24cdd5;
}

#list ul .dropdown-menu a:hover {
  color: #24cdd5;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 31px;
  right: 34px;
  overflow: hidden;
  cursor: pointer;
}

#sidebar .toggle-btn span:nth-child(1) {
  display: block;
  width: 24px;
  height: 2px;
  background: white;
  margin: 5px 0 4px 0;
}

#sidebar .toggle-btn span:nth-child(2) {
  position: relative;
  right: -6px;
  display: block;
  width: 24px;
  height: 2px;
  background: white;
  margin: 3px 0 0px 0;
  transition: 0.5s ease-in-out;
}

#sidebar .toggle-btn span:nth-child(3) {
  position: relative;
  right: -13px;
  display: block;
  width: 24px;
  height: 2px;
  background: white;
  margin: 4px 0 0 0;
  transition: 0.5s ease-in-out;
}

#sidebar .toggle-btn:hover span:nth-child(2) {
  right: 0;
}

#sidebar .toggle-btn:hover span:nth-child(3) {
  right: 0;
}

/* *Side Menu* */

/* 
#side-menu {
    height: 100vh;
    overflow: hidden;
    z-index: -1030;
}

#side-menu #side-menu-wrapper {
    position: relative;
    height: 100vh;
    width: 490px;
    float: right;
    background: linear-gradient(to right, #0897cf, #06bdf5, #15d0dd);
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1030;
}

.overlay {
    clear: both;
}

#close-side-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 1030;
    opacity: 0.5;
    cursor: pointer;
  }
  
  */

/* *End Side Menu* */


/*^ Corousel ^*/

#carousels {
  width: 100%;
  background-color: black;
  opacity: 1;
}

#carousels ul li {
  position: relative;
  top: -400px;
  left: -900px;
}

.carousel-inner .carousel-caption {
  position: absolute;
  top: 276px;
}

/* .carousel-inner .carousel-caption .animated.fadeInUp {
  position: relative;
  bottom: -100px;
  overflow: hidden;
} */

.carousel-inner .carousel-caption h1:nth-child(1) {
  font-family: "Text Me One", sans-serif;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
}

.carousel-inner .carousel-caption h1:nth-child(2) {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
}

.carousel-inner .carousel-caption h1:nth-child(3) {
  font-family: "Text Me One", sans-serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 2px;
}

.carousel-inner .carousel-caption h4:nth-child(4) {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  font-weight: 100;
}

#carousels #cimg1 {
  background-size: cover;
  background-position: center center;
  background: #000;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

#carousels #cimg2 {
  background-size: cover;
  background-position: center center;
  background: #000;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

#carousels #cimg3 {
  background-size: cover;
  background-position: center center;
  background: #000;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

#carousels .carousel-inner .carousel-item img {
  background-size: cover;
}

#carousels .carousel-indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 900px;
  left: 0;
  z-index: 1030;
}

/* #caption1 {
      height: 1000px;
  }
  
  #caption2,
  #caption3 {
      height: 500px;
  }
  
  .carousel-inner {
      height: 100vh;
  } */

/*^ End Carousel ^*/


/*! Some Service */
#service {
  position: relative;
  top: -135px;
  height: 50vh;
  width: 100%;
  background: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  z-index: 1030;
  overflow: hidden;
}

.swiper-container {
  position: relative;
  left: -100px;
  margin: 0;
  padding: 0;
  width: 1310px;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 28px;
  background: #26313c;
  /** Addtional CSS **/
  padding: 48px 24px;
  flex-direction: column;
  transform: translate(-50%, -50%);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide span {
  font-size: 40px;
  margin: 0 0 25px;
}

.swiper-slide a {
  text-decoration: none;
  color: white;
  margin: 0 0 10px;
}

.swiper-slide p {
  font-size: 18px;
  margin: 0 0 16px;
}

.swiper-slide span i {
  width: inherit;
  height: inherit;
  transition: 0.5s;
}

.swiper-slide:hover span i {
  transform: scale(1.2);
}

.swiper-wrapper .swiper-slide-next {
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#5192e1),
      color stop (51%, #23ced5),
      to (#5192e1));
  background-image: -webkit-linear-gradient(left,
      #5192e1 0%,
      #23ced5 51%,
      #5192e1 100%);
  background-image: -moz-linear-gradient(left,
      #5192e1 0%,
      #23ced5 51%,
      #5192e1 100%);
  background-image: -o-linear-gradient(left,
      #5192e1 0%,
      #23ced5 51%,
      #5192e1 100%);
  background-image: linear-gradient(to right, #5192e1, #23ced5, #5192e1);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.4s;
}

.swiper-slide-next:hover,
.swiper-slide-next:focus {
  background-position: right;
  transition: 0.5s ease-in-out;
}

/*! End Some Service */